<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <% include ./partials/header %>
</head>
<body>
  <main>
    <h1><%= title %></h1>
    <div class='container-fluid'>
      <p>Lorem ipsum dolor amet meggings trust fund drinking vinegar keffiyeh tilde mumblecore subway tile stumptown lumbersexual flexitarian blue bottle 90's.
        Godard jean shorts la croix selfies neutra, af taxidermy chambray tofu. Deep v cliche prism godard trust fund. Narwhal keytar YOLO kombucha gastropub chia
        copper mug yr everyday carry salvia iPhone air plant wayfarers polaroid retro. Viral blue bottle gastropub vape beard, butcher tofu chambray snackwave franzen. La croix helvetica</p>
        <p>farm-to-table flexitarian franzen ugh art party organic 90's yr. Crucifix poutine ennui pour-over kombucha, gluten-free mustache pop-up normcore.
        Fixie coloring book portland tote bag pug. Taxidermy drinking vinegar small batch cardigan pork belly put a bird on it brooklyn subway tile cloud bread asymmetrical.
        Pinterest locavore roof party echo park. Retro knausgaard affogato, raclette shoreditch pop-up chartreuse venmo pinterest. Art party authentic echo park adaptogen green juice slow-carb.
        Cred messenger bag kinfolk slow-carb pop-up godard venmo shaman umami ramps health goth authentic. Farm-to-table put a bird on it mixtape schlitz food truck, plaid blue bottle copper
        mug squid raclette brunch snackwave lumbersexual.</p>
    </div>
  </main>
</body>
<footer>
  <% include ./partials/footer %>
</footer>
</html>
