<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <% include ./partials/header %>
</head>
<body>
  <h1><%= title %></h1>
  <article>
    <div class="row">
    <div class="column">
      <img src="./images/facility-1.jpg">
    </div>
    <div class="column">
      <img src="./images/facility-4.jpg">
    </div>
    <div class="column">
      <img src="./images/facility-3.jpg">
    </div>
  </div>
  <div class="row-2">
  <div class="column">
    <img src="./images/facility-5.jpg">
  </div>
  <div class="column">
    <img src="./images/facility-6.jpg">
  </div>
  <div class="column">
    <img src="./images/facility-7.jpg">
  </div>
</div>
</article>
</body>
<footer>
  <% include ./partials/footer %>
</footer>
</html>
