<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <% include ./partials/header %>
</head>
<body>
  <main>
    <div class="jumbotron">
      <div class="jumbotron-text">
        <h1>Welcome to <%= title %></h1>
        <p>Keeping your horse happy and healthy</p>
      </div>
    </div>
  </main>
</body>
<footer>
  <% include ./partials/footer %>
</footer>
</html>
